@font-face {
  font-family: "Opensans";
  src: 
    local("Opensans"),
    url("fonts/opensans.woff") format("woff");
  src: 
    local("Opensans bold"),
    url("fonts/opensansbold.woff") format("woff");
  src:
    local("Opensans Light"),
    url("fonts/opensanslight.woff") format("woff");
}