@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  
  src: 
    local("Opensans"),
    url("fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  
  src: 
    local("Opensans bold"),
    url("fonts/opensansbold.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  
  src:
    local("Opensans Light"),
    url("fonts/opensanslight.woff2") format("woff2");
}