.advantages__wrapper {
  .container();
  background-color: #f2f2f2;
  padding-top: 31px;
  position: relative;
  
  &::after {
    content: "";
    position: absolute;
    top: -31px;
    width: 0;
    height: 0;
    border-bottom: 31px solid #f2f2f2;
    border-left: 320px solid transparent;
  }
}

.advantages__list {
  list-style: none;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.advantages__item {
  margin-bottom: 32px;
}

.advantages__item-title {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 11px;
  
}

.advantages__item-text {
  font-size: 16px;
  line-height: 24px;
}


.advantages__item:nth-child(3) {
  position: relative;
  height: 424px;
  background-image: url(../../img/iphone-screen-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: right 61px bottom -42px;
  z-index: 1;
  margin-bottom: 84px;
}


@media @tablet-widths {
  .advantages__wrapper {
    padding-top: 101px;
    &::after {
      top: -51px;
      border-bottom: 51px solid #f2f2f2;
      border-left: 660px solid transparent;
    }
  }
  
  .advantages__sheath {
    background-image: url(../../img/iphone-screen-mobile@1x.png);
    background-repeat: no-repeat;
    background-position: 22px -29%;
    background-size: 40.2%;
    padding-top: 61px;
    margin-top: -157px;
    position: relative;
    z-index: 10;
  }
  
  .advantages__list {
    display: flex;
    flex-direction: column;
    padding-left: 330px;
    position: relative;
    text-align: left;
    z-index: 1;
    padding-right: 37px;

  }
  .advantages__item {
    margin-bottom: 33px;
  }
  
  .advantages__item:nth-child(3) {
    background-image:none;
    height: 0;
    margin-bottom: 126px;
  }
  
  .advantages__item-title {
    font-size: 18px;
    margin-bottom: 13px;
  }
  
  .advantages__item-text {
    font-size: 14px;
  }
}

@media @desktop-widths {
  .advantages__list{
    padding-left: 0;
    flex-direction: row;
    background-image: none;
  }
  
  
}