.advantages__wrapper {
  .container();
  background-color: #f2f2f2;
  padding-top: 31px;
  position: relative;
  
  &::after {
    content: "";
    position: absolute;
    top: -31px;
    width: 0;
    height: 0;
    border-bottom: 31px solid #f2f2f2;
    border-left: 320px solid transparent;
  }
}

.advantages__list {
  list-style: none;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.advantages__item {
  margin-bottom: 32px;
}

.advantages__item-title {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 11px;
  
}

.advantages__item-text {
  font-size: 16px;
  line-height: 24px;
}


.advantages__item:nth-child(3) {
  position: relative;
  height: 424px;
  background-image: url(../../img/iphone-screen-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: right 61px bottom -42px;
  z-index: 1;
  margin-bottom: 84px;
}


@media @tablet-widths {
  .advantages__list {
    display: flex;
    flex-direction: column;
    background-image: url(../../img/iphone-screen-mobile@1x.png);
    background-repeat: no-repeat;
    background-position: 0 5%;
    background-size: 40%;
    padding-left: 320px;
    position: relative;
    z-index: 1;
    
  }
  .advantages__item {
  margin-bottom: 0px;
  }
  
  .advantages__item:nth-child(3) {
  background-image:none;
  }
}

@media @desktop-widths {
  .advantages__list{
    padding-left: 0;
    flex-direction: row;
    background-image: none;
  }
  
  
}