.effect__wrapper {
  .container();
  display: none;
}

@media @tablet-widths {
  .effect__wrapper {
    display: block;
    height: 400px;
    background-color: red;
  }
}

@media @desktop-widths {
  .effect__wrapper {
    height: 429px;
  }
}