.form-footer__wrapper {
  .container();
}

.form-footer {
  text-align: center;
}

.form-footer__partner-logo {
  width: 147px;
  height: 40px;
  margin-bottom: 20px;
}

.social-links {
  padding-top: 32px;
  padding-left: 38px;
}

.social‐link {
	width: 45px;
	height: 45px;
  border: 2px solid #e9ebec;
	border-radius: 50px;
	font-size: 0px;
	margin-top: 15px;
  margin-right: 5px;
	text-decoration: none;
}

.social‐link‐‐tv {
  background-image: url(../../img/icon-twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social‐link‐‐fb {
  background-image: url(../../img/icon-facebook.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social‐link‐‐you {
  background-image: url(../../img/icon-youtube.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.form‐footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.form-footer__title {
  font-size: 14px;
  color: #283645;
  margin-top: 44px;
  margin-left: 94px;
  margin-right: 15px;
}

.form-footer__html-btn {
  margin-top: 42px;
}

@media @tablet-widths {
  .form-footer__wrapper {
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
@media @desktop-widths {
  .form-footer__wrapper {
    height: 150px;
  }
}