.form-footer__wrapper {
  .container();
  height: 290px;
}

.form-footer {
  text-align: center;
}

.form‐footer__copyright p {
  font-size: 14px;
  color: #283645;
}

.form‐footer__copyright img {
  color: #d22856;
}

@media @tablet-widths {
  .form-footer__wrapper {
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media @desktop-widths {
  .form-footer__wrapper {
    height: 150px;
  }
}