.form__wrapper {
  .container();
}

.form-main__text {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.form-main__text-hidden {
  font-size: 0;
}

.form-main ul {
  list-style: none;
}

.form-main__anketa-list {
  font-size: 14px;
  text-transform: uppercase;
  color: #d22856;
  text-align: left;
}

.form-main__achievements {
  background-color: #f2f2f2;
}

.form-main__ach-text {
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;
}

.form-main__achievements ul {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}


.form-main__anketa {
  text-align: center;
}

.form-main__btn-text {
  color: #283645;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.form-main__btn-text sup {
  color: #d22856;
  font-size: 14px;
}

@media @tablet-widths {
  .form__wrapper {
    height: 2020px;
  }
  .form-main__text-hidden {
    font-size: 14px;
    text-align: center;
  }
}
@media @desktop-widths {
  .form__wrapper {
    height: 1315px;
  }
  .form-main__text-hidden {
    font-size: 14px;
  }
  
  .form-main__interview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .form-main__anketa {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
}