.intro__wrapper {
  .container();
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  background-color: #1d2631;
  background-size: contain;
  height: 734px;
 
}

.intro__text-td {
  font-size: 0;
}

.intro__logo {
  height: 460px;
  width: 320px;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  
}

.intro__hand {
  width: 257px;
  height: 286px;
  margin-top: 174px;
}

.intro__text {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 35px;
  color: #ffffff;
}

@media @tablet-widths {
  .intro__wrapper {
    min-width: 660px;
    flex-direction: row-reverse;
  }
  
  .intro__logo {
    position: absolute;
    
  }
  
  .intro__text-td {
    font-size: 40px;
  }
}