intro-form__wrapper {
  .container();
  
}

.intro-form-block {
  height: 237px;
  width: 320px;
  background-image: url(../../img/bg-back-mobile@1x.jpg); 
  background-repeat: no-repeat;
  background-position: 50% 0;
  margin-bottom: 46px;
}

.intro-form__text {
  padding-top: 98px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}