.page-footer__map-wrapper {
  .container();
  height: 660px;
}

.page-footer__text {
  font-size: 24px;
  text-align: center;
  line-height: 10px;
}

.page-footer__contacts {
  list-style: none;
  text-align: center;
}

.page-footer__title {
  font-size: 18px;
  font-weight: bold;
  
}

.page‐footer__contacts‐hidden {
  font-size: 24px;
  color: #d22856;
}
@media @tablet-widths {
  .page-footer__map-wrapper {
    height: 907px;
  }
}
@media @desktop-widths {
  .page-footer__map-wrapper {
    height: 1065px;
  }
}