.promo__wrapper {
  .container();
  height: 244px;
}

.promo__text {
  font-size: 24px;
  line-height: 34px;
  color: #1d2631;
  text-align: center;
}

@media @tablet-widths {
  
}

@media @desktop-widths {
  .promo__wrapper {
    height: 424px;
  }
}


