.reviews__container {
  .container();
  position: relative;
  background-color: #ffffff;
  margin-top: -85px;
  height: 378px;
  z-index: 2;
}

.reviews__name {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.reviews__item:nth-child(2) {
  display: none;
}

.reviews__item:nth-child(3) {
  display: none;
}

@media @tablet-widths {
  .reviews__item {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media @desktop-widths {
}