.reviews__container {
  .container();
  position: relative;
  margin-bottom: 144px;
  background-color: #ffffff;
  z-index: 2000;
  
}

.reviews__item {
  text-align: center;
  margin-top: -40px;
  padding-left: 20px;
  padding-right: 20px;
}

.reviews__name {
  text-align: center;
  font-size: 19px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 12px;
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;
}

.reviews__item:nth-child(2) {
  display: none;
}

.reviews__item:nth-child(3) {
  display: none;
}

.slider__paginator {
	position: absolute;
	top: 250px;
	left: 42%;
	width: 85px;
	height: 20px;
	z-index: 1000;
}

.slider-controls label {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 0 3px;
	margin-bottom: 30px;
	margin-right: 10px;
	background: #ffffff;
	border: 6px solid #ffffff;
	vertical-align: top;
	border-radius: 50%;
	cursor: pointer;
	box-sizing: border-box;
}

@media @tablet-widths {
  .reviews__container {
    margin-bottom: 121px;
  }
  
  .reviews__item {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0;
  }
  
  .reviews__text {
    order: 3;
    font-size: 18px;
    margin-bottom: 35px;
  }
  
  .reviews__name {
    font-size: 20px;
    order: 2;
    margin-bottom: 6px;
  }
  
  .reviews__name-info {
    order: 1;
    font-size: 14px;
  }
}
@media @desktop-widths {
}