.reviews__container {
  background-color: #ffffff;
  margin-top: -85px;
  z-index: 1;
}

.reviews__name {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.reviews__item {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}