.tape__wrapper {
  .container();
  
}

.tape-header {
  display: table;
  height: 237px;
  background-image: url(../img/bg-back-mobile@1x.jpg); 
  background-repeat: no-repeat;
  background-position: 50% 0;
  text-align: center;
  margin-bottom: 46px;
  
}

.tape-header__text {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.tape-main__conditions {
  margin-bottom: 49px;
}

.tape-main__item {
  margin-bottom: 18px;
  /*&:nth-child(2) {
    margin-bottom: 24px;
  }
  &:nth-child(3) {
    margin-bottom: 25px;
  }
  &:nth-child(4) {
    margin-bottom: 25px;
  }
  &:nth-child(5) {
    margin-bottom: 26px;
  }*/
  &:nth-child(6) {
    margin-bottom: 21px;
  }
}

.tape-main__panorama {
  margin-bottom: -2px;
}

.tape-main__foto {
  padding-left: 20px;
  padding-right: 20px;
}

.tape-main__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -4px;
  
  padding-left: 38px;
  padding-right: 20px;
  background-color: #f2f2f2;
}

.tape-main__text {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center;
  margin: 0;
  margin-bottom: 0px;
}





.tape-main__list {
  text-align: left;
  font-size: 14px;
  margin: 0;
}

.tape-main__autor-name {
  margin: 0;
  margin-top: 17px;
  margin-right: 4px;
  font-weight: bold;
  color: #283645;
  
}

.tape-main__item-date {
  color: #949aa1;
  margin: 0;
  margin-top: 17px;
} 

.tape-main__comment {
  flex-basis: 100%;
  margin: 0;
  color: #283645;
}

.tape-main__heart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.heart {
  width: 13px;
  height: 12px;
  margin: 0;
  margin-top: 16px;
  margin-right: 18px;
}

.tape-main__heart-text {
  font-size: 12px;
  color: #d22856;
  text-transform: uppercase;
  margin: 0;
  margin-top: 10px;
}

.tape-main__item-date {
  flex-basis: 50%;
}

.tape-main__foto {
  text-align: center;
}


@media @tablet-widths {
  .tape__wrapper {
    height: 2753px;
  }
  
  .tape-main__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media @desktop-widths {
  .tape__wrapper {
    height: 2450px;
  }
}