.tape__wrapper {
  .container();
  
}

.tape-header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 237px;
  background-image: url(../img/bg-back-mobile@1x.jpg); 
  background-repeat: no-repeat;
  background-position: 50% 0;
  text-align: center;
  margin-bottom: 46px;
  margin-top: -68px;
  padding-top: 16px;
  box-sizing: border-box;
  
}

.tape-header__text {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.tape-main__conditions {
  margin-bottom: 49px;
}

.tape-main__item {
  margin-bottom: 20px;
  /*&:nth-child(3) {
    margin-bottom: 25px;
  }
  &:nth-child(4) {
    margin-bottom: 25px;
  }*/
  &:nth-child(6) {
    margin-bottom: 22px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.tape-main__panorama {
  display: block;
  margin-left: -20px;
}

.tape-main__foto {
  display: block;
  text-align: center;
}

.tape-main__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 18px;
  padding-left: 18px;
  
  background-color: #f2f2f2;
}

.tape-main__text {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center;
  margin: 0;
  margin-bottom: 0px;
}

.tape-main__list {
  text-align: left;
  font-size: 14px;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 41px;
}

.tape-main__autor-name {
  margin: 0;
  margin-right: 4px;
  font-weight: bold;
  color: #283645;
}

.tape-main__item-date {
  color: #949aa1;
  margin: 0;
} 

.tape-main__comment {
  flex-basis: 100%;
  margin: 0;
  color: #283645;
}

.tape-main__heart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.heart {
  width: 13px;
  height: 12px;
  margin: 0;
  margin-top: 16px;
  margin-right: 18px;
}

.tape-main__heart-text {
  font-size: 12px;
  color: #d22856;
  text-transform: uppercase;
  margin: 0;
  margin-top: 10px;
}



@media @tablet-widths {
  .tape-header {
    display: flex;
    height: 440px;
    background-image: url(../../img/bg-back-tablet@1x.jpg); 
    background-repeat: no-repeat;
    background-position: 50% -1px;
    margin-bottom: 92px;
    text-align: center;
  }
  
  .tape-header__text {
    font-size: 50px;
    line-height: 50px;
    color: #ffffff;
    
  }
  
  .tape-main__conditions {
    margin-bottom: 75px;
  }
  
  .tape-main__text {
    font-size: 18px;
  }
  
  .tape-main__gallery {
    padding-left: 12px;
    padding-right: 11px;
  }
  
  .tape-main__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .tape-main__item:not(:first-child) {
    width: 300px;
  }
  
  .tape-main__item:first-child {
    position: relative;
    margin-bottom: 75px;
    &::after {
    content: "ПАНОРАМА ДНЯ";
    position: absolute;
    top: 57px;
    right: 39px;
    width: 140px;
    height: 36px;
    background: #d22856;
    color: aliceblue;
    text-align: center;
    }
  }
  
  .tape-main__panorama {
    width: 100%;
    height: 509px;
    box-sizing: border-box;
  }
  
  .tape-main__item:nth-child(1) 
  .tape-main__content {
    margin-top: -5px;
    padding-top: 7px;
    padding-left: 68px;
  }
  
  .tape-main__item:nth-child(1)
  .tape-main__heart {
    order: 1;
    margin-top: 8px;
    margin-bottom: -1px;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  
  .tape-main__item:nth-child(1)
  .tape-main__comment {
    order: 2;
  }
  
  .tape-main__item:nth-child(1)
  .tape-main__item-date {
    margin-right: 303px;
  }
  
  .tape-main__item:nth-child(1)
  .tape-main__heart-text {
    margin-right: 14px; 
  }
  
  .tape-main__item:nth-child(1)
  .tape-main__autor-name {
    margin-top: 18px;
  }
  
  .tape-main__item:nth-child(1)
  .tape-main__item-date {
    margin-top: 18px;
  }
  
  .tape-main__content {
    padding: 0;
    margin: 0;
    padding-left: 28px;
    margin-top: -7px;
    padding-top: 24px;
  }
  
  .tape-main__foto {
    width: 300px;
    height: 300px;
  }
  
  .tape-main__item:not(:first-child) {
    margin-bottom: 25px;
    padding: 0;
  }
  
  .tape-main__heart {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  
  .tape-main__autor-name {
    margin: 0;
    margin-right: 4px;
  }
  
  .tape-main__item-date {
    margin: 0;
  }
}
@media @desktop-widths {
  .tape__wrapper {
    height: 2450px;
  }
}